<h1>TO DO LIST</h1>
<ul>
  <% @tasks.each do |task|%>
    <li><%= link_to task.title, task_path(task) %>
    <%= link_to "Delete",
    newname_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
    </li>
  <% end %>
</ul>
